environ=dev
project=dangerfinger
version=5.3
script="python3 -u /app/web/server.py"
domain=example.com
ports=8081:8081/tcp
aws_id=
aws_key=
# WordPress JWT auth (see wordpress/dangerfinger-setup/README.md)
# jwt_secret must match JWT_AUTH_SECRET_KEY defined in wp-config.php
jwt_secret=cPxTbNhzKqHXJ11NTEdRvwbels8XYulCcher57ZPLPH3RBecHgaahM6GWVrIPOG
wp_auth_url=https://dangercreations.com
app_base_url=http://34.207.226.194:8081
static_site_url=http://danger-finger-static.s3-website-us-east-1.amazonaws.com